body { background-color: #fdfff9;}
table {
border: 1px solid #e5efe4;
overflow-x: scroll;
}
th {
  background-color: #e5efe4;
}
tr {
  background-color: #f5fff4;
}
tr:nth-child(even) {
  background-color: #e5efe4;
}
.d-flex{
    display: flex !important;
}
#mycontainer {
   width: 80% !important;
   overflow-x: scroll;
}
#id_tipofonte {
    border: none;
    height: -webkit-fill-available;
    background-color: transparent;
}
